@media screen and (max-width: 1750px) {
    .header {
        height: 100%;
    }
    .header__info::before {
        display: none;
    }
    .header__info::after {
        display: none;
    }
    .order__info::before {
        right: 0;
    }
    .substrate4 {
        background: none;
        height: 100px;
    }
}
@media screen and (max-width: 1530px){
    .catalog__paragraph::before {
        right: 0;
    }
    .form {
        display: flex;
    }
    form::before {
        left: -200px;
    }
    form::after {
        right: -200px;
    }
    .slider__title::before {
        left: -60px;
    }
    .order__photo {
        max-width: 600px;
    }
}
@media screen and (max-width: 1250px) {
    .catalog__paragraph {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        place-items: center;
    }
    .form__content::before {
        left: 0;
    }
    .form__content::after {
        right: 0;
    }
    form::before {
        left: -45px;
    }
    form::after {
        right: -45px;
    }
    .slider__content {
        padding: 0px 35px;
    }
    .header {
        background: none;
    }
    .header__info {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1100px) {
    .about__content {
        flex-direction: column;
    }
    .about__content--photo {
        display: flex;
        justify-content: center;
    }
    .about__content--photo2::after {
        bottom: 0;
        left: 0;
    }
    .about__content--photo2::before {
        left: 0;
        bottom: 60px;
    }
}
@media screen and (max-width: 980px) {
    .gallery__group {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .header__info {
        margin-top: 30px;
    }
    .about__content--info {
        margin-top: 0px;
    }
    .about__content--photo {
        margin-top: 50px;
    }
    .order {
        flex-direction: column-reverse;
        padding: 0px 15px;
    }
    .catalog__paragraph {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
    .slider__content {
        flex-direction: column;
    }
    .swiper-slide img {
        width: 100px;
    }
    .slider__review {
        max-width: 100%;
    }
    .slider__swiper::before {
        top: -105px;
        right: 110px;
    }
    .slider__photo {
        display: flex;
        margin-top: 20px;
    }
    .slider__people {
        margin-left: 20px;
    }
    .slider__name {
        text-align: start;
    }
    .slider__citi {
        text-align: start;
    }
}
@media screen and (max-width: 850px) {
    .form__content::before {
        display: none;
    }
    .form__content::after {
        display: none;
    }
    form::before {
        display: none;
    }
    form::after {
        display: none;
    }
    .form__entry {
        flex-direction: column;
    }
    .form__content {
        height: auto;
        padding: 50px 50px;
    }
    .form__phone {
        width: 100%;
    }
    .form__button {
        margin-top: 20px;
        margin-left: 0;
    }
    .slider__title::before {
        top: -150px;
    }
    .about__title {
        max-width: 100%;
    }
}
@media screen and (max-width: 640px) {
    .gallery__group {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
    .about__content--img {
        width: 100%;
    }
    .nav {
        flex-direction: column;
        text-align: center;
    }
    .nav li:nth-child(2) {
        margin-left: 0px;
    }
    .nav li:nth-child(3) {
        margin-left: 0px;
    }
    .menu__info--tel {
        margin-left: 40px;
    }
    .form__button {
        padding: 0;
        width: 100%;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-checkbox+label {
        display: block;
    }
}
@media screen and (max-width: 570px) {
    .review__title {
        font-size: 21px;
        margin-top: 10px;
    }

    .swiper-slide img {
        width: 70px;
        height: 70px;
    }

    .header__menu {
        height: 140px;
    }

    .menu {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .menu__info {
        margin-top: 10px;
        flex-direction: column;
    }

    .menu__info--location {
        margin-left: 25px;
    }

    .menu__info--tel {
        margin-left: 30px;
    }

    .slider__name {
        margin-top: 0px;
        font-size: 16px;
    }

    .slider__citi {
        font-size: 14px;
    }

    .form__title {
        font-size: 28px;
    }

    .form__subtitle {
        font-size: 18px;
    }

    .button__yellow {
        padding: 30px 15px;
    }

    .header__title {
        font-size: 34px;
    }

    .header__subtitle {
        font-size: 21px;
    }

    .catalog__title {
        font-size: 38px;
    }

    .substrate {
        height: 150px;
    }

    .about__title {
        font-size: 38px;
    }

    .substrate3 {
        height: 150px;
    }

    .substrate5 {
        height: 120px;
    }
}
@media screen and (max-width: 400px) {
    .review__text {
        font-size: 12px;
    }
}