/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root {
    --container--width: 1296px;
    --container--padding: 15px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #081130;
    color: #2E363E;
}

.container {
    max-width: var(--container--width);
    padding: var(--container--padding);
    margin: 0 auto;
}
.container__left {
    padding-left: calc( (100% - var(--container--width))/2 + var(--container--padding) );
    height: 200px;
    background: red;
}

/*header*/
.header {
    width: 100%;
    height: 1280px;
    background: url("../assets/img/bg.png") no-repeat;
    background-size: 100%;
}
.header__menu {
    position: relative;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #7E868E;
}
.header__menu::before {
    position: absolute;
    content: url("../assets/img/header/berry1.png");
    top: 300px;
}
.header__menu::after {
    position: absolute;
    content: url("../assets/img/header/berry2.png");
    top: 100px;
    right: 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}
.logo {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #FFFFFF;
    text-decoration: none;
}
.menu__info {
    display: flex;
}
.menu__info--location {
    position: relative;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    list-style-type: none;
}
.menu__info--location::after {
    position: absolute;
    display: block;
    content: url("../assets/img/location.png");
    width: 12px;
    height: auto;
    left: -25px;
    top: 25%;
    transform: translateY(-50%);
}
.menu__info--tel {
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    margin-left: 100px;
}
.menu__info--tel::after {
    position: absolute;
    display: block;
    content: url("../assets/img/phone.png");
    width: 19px;
    height: auto;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.menu__info--tel::before {
    position: absolute;
    display: block;
    content: "Ежедневно с 9:00 до 20:00";
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    left: 0;
    top: 100%;
    transform: translateY(-50%);
}
.header__info {
    position: relative;
    margin-top: 250px;
}
.header__info::before {
    position: absolute;
    content: url("../assets/img/header/leaf.png");
    bottom: -500px;
    left: 0;
}
.header__info::after {
    position: absolute;
    content: url("../assets/img/header/berry.png");
    bottom: -325px;
    right: 160px;
}
.button__gray {
    padding: 10px 18px;
    background: #F2F6FA;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #2E363E;
}
.header__title {
    max-width: 647px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-top: 24px;
}
.header__subtitle {
    max-width: 544px;
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    color: #FFFFFF;
    margin-top: 24px;
}
.header__info--button {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.button__yellow {
    padding: 30px 50px;
    background: #FED84C;
    border-radius: 8px;
    color: #2E363E;
}
.header__info--text {
    margin-left: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    max-width: 150px;
}

/*catalog*/
.catalog {
    background: #FFFFFF;
}
.catalog__title {
    position: relative;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #2E363E;
    text-align: center;
}
.catalog__title::before {
    position: absolute;
    content: url("../assets/img/catalog/berry.png");
    left: -170px;
    top: 220px;
    z-index: 1;
}
.catalog__paragraph {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-top: 80px;
}
.catalog__paragraph::before {
    position: absolute;
    content: url("../assets/img/catalog/leaf1.png");
    right: -130px;
    bottom: 650px;
}
.catalog__paragraph::after {
    position: absolute;
    content: url("../assets/img/catalog/leaf2.png");
    left: -145px;
    bottom: 350px;
}
.catalog__paragraph--info {
    border: 1px solid #F2F6FA;
    border-radius: 0px 0px 10px 10px;
    padding: 50px 44px;
    max-width: 380px;
    margin-top: -3px;
}
.catalog__paragraph--title {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
}
.catalog__paragraph--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 12px;
}
.catalog__paragraph--price {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-top: 24px;
}
.catalog__paragraph--button {
    width: 163px;
    height: 68px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: #FED84C;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
}
.substrate {
    width: 100%;
    height: 330px;
    background: url("../assets/img/substrate.png") no-repeat;
    background-size: 100%;
}

/*order*/

.order {
    position: relative;
    display: flex;
}
.order::before {
    position: absolute;
    width: 100%;
    height: 489px;
    content: "";
    background: url("../assets/img/substrate2.png");
    left: 0px;
    bottom: 0;
    z-index: 1;
}
.order__photo {
    position: relative;
}
.order__info {
    position: relative;
    padding-top: 109px;
}
.order__info::before {
    position: absolute;
    content: url("../assets/img/berry.png");
    right: -100px;
    top: -80px;
}
.order__info::after {
    position: absolute;
    content: url("../assets/img/leaf.png");
    left: -620px;
    top: 40px;
}
.order__button--top {
    display: inline-block;
    margin-top: 40px;
}

/*about*/
.about {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #FFFFFF;
}
.about__content {
    display: flex;
    justify-content: space-between;
}
.about__content--info {
    margin-top: 100px;
}
.about__title {
    margin-top: 34px;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    max-width: 580px;
}
.about__list {
    margin-left: 25px;
}
.about__list li {
    position: relative;
    max-width: 380px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.about__list li::before {
    position: absolute;
    content: url(../assets/img/li.png);
    width: 10px;
    height: 10px;
    left: -25px;
    top: 5px;
    transform: translateY(-50%);
}
.about__button--top {
    display: inline-block;
    margin-top: 50px;
}
.about__content--photo {
    position: relative;
}
.about__content--photo::after {
    position: absolute;
    content: url(../assets/img/berry.png);
    left: -20px;
    top: 130px;
}
.about__content--photo::before {
    position: absolute;
    content: url(../assets/img/group.png);
    right: 0;
    top: 130px;
}
.about__content--img {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.about__content--photo2::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Юлия Кондратьева";
    width: 290px;
    height: 60px;
    background: #2E363E;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    transform: skew(-5deg);
    border-radius: 5px;
    z-index: 5;
    left: -95px;
    bottom: 226px;
}
.about__content--photo2::after {
    position: absolute;
    content: "ваш кондитер";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    background: #F2F6FA;
    color: #2E363E;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    transform: skew(-5deg);
    border-radius: 5px;
    z-index: 5;
    bottom: 166px;
    left: -60px;
}
.substrate3 {
    width: 100%;
    height: 330px;
    background: url("../assets/img/substrate3.png") no-repeat;
    background-size: 100%;
}

/*slider*/
.swiper {
    height: 615px !important;
}
.swiper-slide {
    border: 2px solid #E2EAF2;
    border-radius: 5px;
}
.swiper-slide {
    text-align: start !important;
}
.slider__title {
    position: relative;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.slider__title::before {
    position: absolute;
    content: url(../assets/img/leaf2.png);
    left: -200px;
    top: -70px;
}
.substrate4 {
    width: 100%;
    height: 280px;
    background: url("../assets/img/substrate4.png") no-repeat;
    background-size: 100%;
}
.slider__review {
    max-width: 460px;
}
.slider__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 143px;
}
.review__quotes {

}
.review__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    color: #2E363E;
    margin-top: 30px;
}
.review__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    color: #2E363E;
    margin-top: 24px;
}
.review__link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #4A94FF;
    text-decoration: underline;
    margin-top: 24px;
}
/*gallery*/

.gallery {
    background: #FFFFFF;
}
.catalog__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    text-align: center;
    margin-top: 14px;
}
.gallery__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    margin-top: 80px;
}
.gallery__group img {
    width: 100%;
}
.substrate5 {
    width: 100%;
    height: 280px;
    background: url("../assets/img/substrate5.png") no-repeat;
    background-size: 100%;
}

/*form*/
form {
    position: relative;
    margin-top: 36px;
}
.form__entry {
    display: flex;
}
form::after {
    position: absolute;
    content: url("../assets/img/form/leaf2.png");
    top: 100px;
    right: -355px;

}
form::before {
    position: absolute;
    content: url("../assets/img/form/berry2.png");
    top: 100px;
    left: -370px;
}
.form__content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1180px;
    height: 394px;
    background: #FFFFFF;
    border-radius: 8px;
}
.form__content::before {
    position: absolute;
    content: url("../assets/img/form/leaf1.png");
    top: -99px;
    left: -100px;
}
.form__content::after {
    position: absolute;
    content: url("../assets/img/form/berry1.png");
    top: -100px;
    right: -150px;
}

.form__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
}
.form__subtitle {
    margin-top: 12px;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
}
.form__phone {
    background: #F2F6FA;
    padding: 32px 0px 29px 58px;
    width: 380px;
    height: 90px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #7E868E;
    outline:none;
    border-radius: 8px;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.form__background {
    position: relative;
}
.form__background::after {
    position: absolute;
    content: url("../assets/img/phone-form.png");
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
}
.form__button {
    padding: 30px 123px;
    background: #FED84C;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
.checkbox {
    margin-top: 25px;
    text-align: center;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
/*.custom-checkbox:focus+label::before {*/
/*    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
/*}*/

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
    border-color: #4A94FF;
    background-color: #4A94FF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
.checkbox__link {
    text-decoration: underline;
    color: #7E868E;
}

/*footer*/
.footer {
    margin-bottom: 80px;
}
.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 80px;
}
.nav a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7E868E;
}
.nav li:nth-child(2) {
    margin-left: 40px;
}
.nav li:nth-child(3) {
    margin-left: 40px;
}
.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #7E868E;
    text-align: center;
    margin-top: 22px;
}

/*slider*/
.slider__swiper {
    position: relative;
}
.slider__swiper::before {
    position: absolute;
    content: url("../assets/img/slider/berry.png");
    right: 220px;
    top: -40px;
    width: 152px;
    height: 156px;
    z-index: 2;
}
.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 80px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: all 0.5s ease;
    transform: scale(0.7) !important;
    opacity: 0.1;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1) !important;
}
.swiper-slide img {
    display: block;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}
.swiper__buttons--wrapper {
    position: relative;
}
.reviews-next .reviews-prev {
    position: relative;
}
.review__quotes {
    width: 40px !important;
    height: 27px !important;
}
.review__content--title {
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    color: #2E363E;
}
.slider__name {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #2E363E;
    text-align: center;
    margin-top: 30px;
}
.slider__citi {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #A6AEB6;
    margin-top: 6px;
}
/*swiper__button*/
.swiper__buttons--wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.reviews-prev {
    right: 25px !important;
    width: 66px !important;
    height: 66px !important;
    background: #FED84C;
    border-radius: 100px;
}
.reviews-prev::after {
    font-size: 21px !important;
    font-weight: 900;
    color: #2E363E;
}
.reviews-next {
    left: 25px !important;
    width: 66px !important;
    height: 66px !important;
    background: #FED84C;
    border-radius: 100px;
}
.reviews-next::after {
    font-size: 21px !important;
    font-weight: 900;
    color: #2E363E;
}